<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido a Serviguia!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('css/.css') }}" />
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        	<script type="text/javascript" src="{{ asset('js/.js') }}"></script>
        {% endblock %}
    </body>
</html>

